<%-include('includes/header.ejs') %>
<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <%-include('includes/sidebar.ejs') %>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav
          class="
            navbar navbar-expand navbar-light
            bg-navbar
            topbar
            mb-4
            static-top
          "
        >
          <button
            id="sidebarToggleTop"
            class="btn btn-link rounded-circle mr-3"
          >
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="userDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  class="img-profile rounded-circle"
                  src="img/boy.png"
                  style="max-width: 60px"
                />
                <span class="ml-2 d-none d-lg-inline text-white small"
                  >Admin</span
                >
              </a>
              <div
                class="
                  dropdown-menu dropdown-menu-right
                  shadow
                  animated--grow-in
                "
                aria-labelledby="userDropdown"
              >
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>

                <div class="dropdown-divider"></div>
               <a href="/Logout" class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div
            class="d-sm-flex align-items-center justify-content-between mb-4"
          >
            <h1 class="h3 mb-0 text-gray-800">Quotes Dashboard</h1>
          </div>

          <div class="row">
            <div class="col-lg-10 mb-4">
              <div class="card">
                <div
                  class="
                    card-header
                    py-3
                    d-flex
                    flex-row
                    align-items-center
                    justify-content-between
                  "
                >
                  <h6 class="m-0 font-weight-bold text-primary">
                    Post a Quote
                  </h6>
                </div>
                <div class="card-body">
                  <form action="/postQuote" method="POST">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control col-md-9"
                        name="author"
                        placeholder="Enter Author"
                      />
                    </div>
                      <br />
                      <div class="form-group">
                      <textarea name="quote" cols="120" rows="7"></textarea>
                      </div>
                      <button class="btn btn-primary" type="submit">
                        Post
                      </button>
                    </div>
                  </form>
                </div>
              
              </div>
            </div>
            <hr />
            <div class="col-lg-10 mb-4">
              <div class="card">
                <div class="card-header">
                  <h4 style="color: blue">List of Posted Quotes</h4>
                </div>
                <div class="card-body">
                      <% if(quotes.length > 0) { %> <% for(let quote of
                      quotes ) { %>
                        <h4><%= quote.quote %></h4>
                        <h5 style="color: black;"> -<%= quote.author %></h5>
                        <hr>
                        <% } %> <% } %>
                </div>
              </div>
            </div>
          </div>
          <!--Row-->
          <!-- Modal Logout -->
          <div
            class="modal fade"
            id="logoutModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">
                    Ohh No!
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    data-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <a href="login.html" class="btn btn-primary">Logout</a>
                </div>
              </div>
            </div>
          </div>
          <%-include('includes/footer.ejs') %>
        </div>
        <!---Container Fluid-->
      </div>
    </div>
  </div>
</body>
