<%- include('includes/head.ejs') %>
<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul
      class="navbar-nav sidebar sidebar-light accordion"
      id="accordionSidebar"
    >
      <a
        class="sidebar-brand d-flex align-items-center justify-content-center"
        href="#"
      >
        <div class="sidebar-brand-text mx-4">Sleep Tracking</div>
      </a>
      <hr class="sidebar-divider my-0" />
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a
        >
      </li>
      <hr class="sidebar-divider" />
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav
          class="
            navbar navbar-expand navbar-light
            bg-navbar
            topbar
            mb-4
            static-top
          "
        >
          <button
            id="sidebarToggleTop"
            class="btn btn-link rounded-circle mr-3"
          >
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="userDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  class="img-profile rounded-circle"
                  src="img/boy.png"
                  style="max-width: 60px"
                />
                <span class="ml-2 d-none d-lg-inline text-white small"
                  ><%= userName %></span
                >
              </a>
              <div
                class="
                  dropdown-menu dropdown-menu-right
                  shadow
                  animated--grow-in
                "
                aria-labelledby="userDropdown"
              >
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <div class="dropdown-divider"></div>
                <a href="/Logout" class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div
            class="d-sm-flex align-items-center justify-content-between mb-4"
          >
            <h1 class="h3 mb-0 text-gray-800">List of Sleep entries</h1>
          </div>

          <div class="row">
            <div class="col-lg-12 mb-4">
              <!-- Simple Tables -->
              <div class="card">
                <div
                  class="
                    card-header
                    py-3
                    d-flex
                    flex-row
                    align-items-center
                    justify-content-between
                  "
                >
                  <button
                    class="btn btn-primary"
                    href="javascript:void(0);"
                    data-toggle="modal"
                    data-target="#logoutModal"
                  >
                    Add New Entry
                  </button>
                  <h6 class="m-0 font-weight-bold text-primary">
                    Sleep Cycle Entries of the past days
                  </h6>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th>#</th>
                        <th>Sleep Time</th>
                        <th>Wake up Time</th>
                        <th>Sleep Duration</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if(sleepEntries.length > 0) { %> <% for(let sleepEntry
                      of sleepEntries ) { %>
                      <tr>
                        <td><%= sleepEntry.id %></td>
                        <td>
                          <%= moment(sleepEntry.sleepTime).format('DD/MM/YYYY
                          HH:MM:SS') %>
                        </td>
                        <td>
                          <%= moment(sleepEntry.wakeUpTime).format('DD/MM/YYYY
                          HH:MM:SS') %>
                        </td>
                        <td><%= sleepEntry.sleepDuration %> Hours</td>
                        <td>
                          <button class="btn btn-info">Edit</button>|
                          <form
                            action="/deleteSleepEntry/<%= sleepEntry.id %>"
                            method="POST"
                          >
                            <a class="btn btn-danger">Delete</a>
                          </form>
                        </td>
                      </tr>
                      <% } %><% } %>
                    </tbody>
                  </table>
                </div>
                <div class="card-footer"></div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="card mb-3">
                <div
                  class="
                    card-header
                    py-3
                    d-flex
                    flex-row
                    align-items-center
                    justify-content-between
                  "
                >
                  <h6 class="m-0 font-weight-bold text-primary">
                    Sleep duration Chart
                  </h6>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                  <hr />
                  Sleep Durations of the last days
                </div>
              </div>
            </div>
          </div>
          <!--Row-->

          <!-- Modal Logout -->
          <div
            class="modal fade"
            id="logoutModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">
                    Enter Todays Sleep Information
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/sleepEntry" method="POST">
                  <div class="modal-body">
                    <label for="sleepTime">Enter Your Sleep Time</label>
                    <input
                      type="datetime-local"
                      class="form-control"
                      name="sleepTime"
                    />
                    <br />
                    <label for="wakeupTime">Enter Your wakeup Time</label>
                    <input
                      type="datetime-local"
                      class="form-control"
                      name="wakeupTime"
                    />
                    <br />
                    <!-- <label for="sleepDurattion"
                      >Enter Your Sleep duration</label
                    >
                    <input
                      type="time"
                      class="form-control"
                      name="sleepDuration"
                    /> -->
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      data-dismiss="modal"
                    >
                      Cancel
                    </button>
                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!---Container Fluid-->
      </div>
      <%- include('includes/footer.ejs') %>
    </div>
  </div>
  <script></script>
</body>
